!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %link{:rel => "stylesheet", :href => "../assets/css/main.css"}/
  %title Document
%body
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .row
          .span2
            %a.brand{:href => "domain.html"}
              %img{:src => "../assets/images/logo.png", :alt => ""}
          .language-switcher.pull-right
            %ul
              %li.active
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
              %li
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
              %li
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
          %form.navbar-search.pull-right{:action => "search-results.html"}
            %input{:type => "text", :class => "search-query", :placeholder => "Search"}
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li
                %a{:href => "contact.html"}
                  %i.icon-envelope-alt
                  Contact Us
              %li
                %a{:href => "documentation-categories.html"}
                  %i.icon-info-sign
                  Documentation
              %li
                %a{:href => "cart.html"}
                  %i.icon-shopping-cart
                  Cart
              %li
                %a{:href => "#"}
                  %i.icon-user
                  Login
  .services-tabs-w
    .container
      .service-tabs-i
        .service-tab-w
          %a.service-tab{:href => "domain.html"}
            .row-fluid
              .span3
                %i.icon-search.service-icon
              .span9
                Find your
                %br
                %span domain
        .service-tab-w.active
          %a.service-tab{:href => "build-website.html"}
            .row-fluid
              .span3
                %i.icon-globe.service-icon
              .span9
                Build your
                %br
                %span website
        .service-tab-w.tab-hosting
          %a.service-tab{:href => "hosting.html"}
            .row-fluid
              .span4
                %i.icon-cloud.service-icon
              .span8
                Website
                %br
                %span hosting
        .service-tab-w
          %a.service-tab{:href => "garden.html"}
            .row-fluid
              .span3
                %i.icon-cogs.service-icon
              .span9
                Hosting
                %br
                %span garden
  #page-build-website.page-content.with-tab-menu
    .container
      .lead-box-w
        .row
          .span7
            .lead-box
              %h1 Build your own website with Zitana
              %p Vivamus sed diam nisl, eget hendrerit quam. Etiam ut ante hendrerit augue ullamcorper laoreet. Proin porta consequat felis sed suscipit. Morbi consectetur molestie est, non varius ligula viverra et.
              %a.btn.btn-primary.btn-large{:href => "#"}
                %i.icon-wrench
                Start Building Your Site
          .span5
            %img.feature-image{:src => "../assets/images/watch-video-blue.png", :alt => ""}
      .white-paper
        .row-fluid
          .span5
            .bordered-image-w.side-feature-image
              %img{:src => "http://dummyimage.com/600x470/3681b6/fff", :alt => ""}
          .span7
            %h2
              %i.icon-check
              Proin porta consequat felis sed.
            %ul.big-features
              %li Easy and straight forward. No need webdesign or programming skills needed.
              %li Different designs tailored to your project, business or organization
              %li Give the design a personal touch
              %li One plan, unlimited amount of pages and images
              %li Easily upgrade to a complex web site
              %li Personal assistance and management by Zitana
  .pre-footer
    .container
      .row
        .span9
          .menu-list
            %h4.menu-header Web Hosting
            %ul
              %li
                %a{:href => "#"} Order Hosting
              %li
                %a{:href => "#"} Compare Plan
              %li
                %a{:href => "#"} Register Domain
          .menu-list
            %h4.menu-header Company
            %ul
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "contact.html"} Contact Us
              %li
                %a{:href => "#"} In the News
          .menu-list
            %h4.menu-header Support
            %ul
              %li
                %a{:href => "documentation-categories.html"} Documentation
              %li
                %a{:href => "#"} System Status
              %li
                %a{:href => "#"} Knowledge Base
              %li
                %a{:href => "#"} Account Login
        .span3
          .social-w
            %h4.menu-header Social Networks
            %ul.social-list
              %li
                %a{:href => "#"}
                  %i.icon-linkedin-sign
              %li
                %a{:href => "#"}
                  %i.icon-twitter-sign
              %li
                %a{:href => "#"}
                  %i.icon-facebook-sign
  %footer.deep-footer
    .container
      .row
        .span4
          .copyright &copy; 2013 Zitana.com All rights reserved.
        .span8
          %ul.deep-footer-menu.pull-right
            %li
              %a{:href => "privacy-policy.html"} Privacy Policy
            %li
              %a{:href => "privacy-policy.html"} Terms of Service
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "contact.html"} Contact Us