!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %link{:rel => "stylesheet", :href => "../assets/css/main.css"}/
  %title Document
%body
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .row
          .span2
            %a.brand{:href => "#"}
              %img{:src => "../assets/images/logo.png", :alt => ""}
          .language-switcher.pull-right
            %ul
              %li.active
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
              %li
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
              %li
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
          %form.navbar-search.pull-right{:action => ""}
            %input{:type => "text", :class => "search-query", :placeholder => "Search"}
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li
                %a{:href => "#"} Contact Us
              %li
                %a{:href => "#"} Documentation
              %li
                %a{:href => "#"} FAQ
              %li
                %a{:href => "#"} Login
  .services-tabs-w
    .container
      .service-tabs-i
        .service-tab-w
          %a.service-tab{:href => "#"}
            .row-fluid
              .span3
                %i.icon-search.service-icon
              .span9
                Find your
                %br
                %span domain
        .service-tab-w
          %a.service-tab{:href => "#"}
            .row-fluid
              .span3
                %i.icon-globe.service-icon
              .span9
                Build your
                %br
                %span website
        .service-tab-w.tab-hosting
          %a.service-tab{:href => "#"}
            .row-fluid
              .span4
                %i.icon-cloud.service-icon
              .span8
                Website
                %br
                %span hosting
        .service-tab-w
          %a.service-tab{:href => "#"}
            .row-fluid
              .span3
                %i.icon-cogs.service-icon
              .span9
                Hosting
                %br
                %span garden
  .page-content
    .container
      %ul.breadcrumb
        %li
          %a{:href => "#"} Documentation
        %li
          %a{:href => "#"} Server Setup
        %li.active Installing php and mysql on linux server
      .white-paper
        .wp-header
          %h1 Installing PHP and mySQL on linux server.
          .last-update last update on March 15, 2013 12:10 pm
        .wp-content
          %p Now that you know how to manage all of your account information under the Your Account tab, next we'll going to show you all the ways that we can provide you with Fanatical Support!  Some of our support channels are better than others for certain types of requests - for example, it is easier to troubleshoot network connectivity over chat rather than by phone because you can paste in your traceroutes and other diagnostics.  We want you to use the support channel that works best for you, so let's look at all the resources we can use to help you, and how best to use them.
          %h3 Navigating to the Support Channels
          %ol
            %li Click on the Support link in the left navigation menu.
            %li When you click on the Support drop-down menu, you will see the following items:
            %img{:src => "http://dummyimage.com/1300x400/e0f4fb/ffffff", :alt => ""}
            %li Something else to explain to user
            %li One more step that is required to open a hosting account
            %li This is how you install PHP and other scripts on your Centos server
          %p Next we'll going to show you all the ways that we can provide you with Fanatical Support! Some of our support channels are better than others for certain types of requests - for example, it is easier to troubleshoot network connectivity over chat rather than by phone because you can paste in your traceroutes and other diagnostics.
          %h4 This can be another header which is a bit smaller than previous
          %p Some of our support channels are better than others for certain types of requests - for example, it is easier to troubleshoot network connectivity over chat rather than by phone because you can paste in your traceroutes and other diagnostics. We want you to use the support channel that works best for you, so let's look at all the resources we can use to help you, and how best to use them.
  .pre-footer
    .container
      .row
        .span9
          .menu-list
            %h4.menu-header Web Hosting
            %ul
              %li
                %a{:href => "#"} Order Hosting
              %li
                %a{:href => "#"} Compare Plan
              %li
                %a{:href => "#"} Register Domain
          .menu-list
            %h4.menu-header Company
            %ul
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "#"} Contact Us
              %li
                %a{:href => "#"} In the News
          .menu-list
            %h4.menu-header Support
            %ul
              %li
                %a{:href => "#"} Documentation
              %li
                %a{:href => "#"} System Status
              %li
                %a{:href => "#"} Knowledge Base
              %li
                %a{:href => "#"} Account Login
        .span3
          .social-w
            %h4.menu-header Social Networks
            %ul.social-list
              %li
                %a{:href => "#"}
                  %i.icon-linkedin-sign
              %li
                %a{:href => "#"}
                  %i.icon-twitter-sign
              %li
                %a{:href => "#"}
                  %i.icon-facebook-sign
  %footer.deep-footer
    .container
      .row
        .span4
          .copyright &copy; 2013 Zitana.com All rights reserved.
        .span8
          %ul.deep-footer-menu.pull-right
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Terms of Service
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "#"} Contact Us