!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %link{:rel => "stylesheet", :href => "../assets/css/main.css"}/
  %title Document
%body
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .row
          .span2
            %a.brand{:href => "domain.html"}
              %img{:src => "../assets/images/logo.png", :alt => ""}
          .language-switcher.pull-right
            %ul
              %li.active
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
              %li
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
              %li
                %a{:href => "#"}
                  %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
          %form.navbar-search.pull-right{:action => "search-results.html"}
            %input{:type => "text", :class => "search-query", :placeholder => "Search"}
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li
                %a{:href => "contact.html"}
                  %i.icon-envelope-alt
                  Contact Us
              %li
                %a{:href => "documentation-categories.html"}
                  %i.icon-info-sign
                  Documentation
              %li
                %a{:href => "cart.html"}
                  %i.icon-shopping-cart
                  Cart
              %li
                %a{:href => "#"}
                  %i.icon-user
                  Login
  .services-tabs-w
    .container
      .service-tabs-i
        .service-tab-w
          %a.service-tab{:href => "domain.html"}
            .row-fluid
              .span3
                %i.icon-search.service-icon
              .span9
                Find your
                %br
                %span domain
        .service-tab-w
          %a.service-tab{:href => "build-website.html"}
            .row-fluid
              .span3
                %i.icon-globe.service-icon
              .span9
                Build your
                %br
                %span website
        .service-tab-w.tab-hosting
          %a.service-tab{:href => "hosting.html"}
            .row-fluid
              .span4
                %i.icon-cloud.service-icon
              .span8
                Website
                %br
                %span hosting
        .service-tab-w.active
          %a.service-tab{:href => "garden.html"}
            .row-fluid
              .span3
                %i.icon-cogs.service-icon
              .span9
                Hosting
                %br
                %span garden
  #page-garden.page-content.with-tab-menu.content-less-padding
    .container
      %h1.page-heading.text-center Zitana Garden
      %h4.page-sub-heading.text-center Fusce sollicitudin diam sed orci sagittis vulputate. Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit leo.
      .row
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Zitana Security
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Google Analytics
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Site Optimizer
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Apps Network
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
      .row
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Zitana Security
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Google Analytics
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Site Optimizer
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
        .span3
          .app-item-w
            .app-item-photo
              %img{:src => "http://dummyimage.com/400x200/eae8df/bab7a8", :alt => ""}
            %h4.app-item-header Apps Network
            %p.app-item-desc Sed viverra ultrices sapien in interdum. Donec id elit urna, quis suscipit.
      .white-paper
        .big-feature-w
          .row-fluid
            .span5
              .bordered-image-w.side-feature-image
                %img{:src => "http://dummyimage.com/600x460/e3f0fa/fff", :alt => ""}
            .span7
              %h2.big-feature-header
                %i.icon-tasks
                Proin porta consequat felis sed.
              %ul.big-features
                %li Secure your website and built trust with an SSL Certificate
                %li Business Groupware
                %li Keep your website clean and protected with a malware scanner
                %li How is your website doing? Receive weekly SEO reports with recommendations
                %li CloudFlare web acceleration with anti-ddos
                %li New Relic
      .white-paper
        .big-feature-w
          .row-fluid
            .span9
              %h2.big-feature-header
                %i.icon-user
                Personal assistance and management by Zitana
              %ul.big-features
                %li We see that your website will continue to run carefree, so your visitors and customers remain happy.
                %li Our phone is always on. You can reach us all days of the week and each hour of the day.
                %li We are a transparent company. No hidden fees, no complicated terms and conditions.
                %li We continue to strive for efficiency and better services.
                %li We are committed to good-natured projects and the climate. We are also open to sponsorship, contact us
            .span3
              .bordered-image-w.side-feature-image
                %img{:src => "http://dummyimage.com/600x760/e3f0fa/fff", :alt => ""}

  .pre-footer
    .container
      .row
        .span9
          .menu-list
            %h4.menu-header Web Hosting
            %ul
              %li
                %a{:href => "#"} Order Hosting
              %li
                %a{:href => "#"} Compare Plan
              %li
                %a{:href => "#"} Register Domain
          .menu-list
            %h4.menu-header Company
            %ul
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "contact.html"} Contact Us
              %li
                %a{:href => "#"} In the News
          .menu-list
            %h4.menu-header Support
            %ul
              %li
                %a{:href => "documentation-categories.html"} Documentation
              %li
                %a{:href => "#"} System Status
              %li
                %a{:href => "#"} Knowledge Base
              %li
                %a{:href => "#"} Account Login
        .span3
          .social-w
            %h4.menu-header Social Networks
            %ul.social-list
              %li
                %a{:href => "#"}
                  %i.icon-linkedin-sign
              %li
                %a{:href => "#"}
                  %i.icon-twitter-sign
              %li
                %a{:href => "#"}
                  %i.icon-facebook-sign
  %footer.deep-footer
    .container
      .row
        .span4
          .copyright &copy; 2013 Zitana.com All rights reserved.
        .span8
          %ul.deep-footer-menu.pull-right
            %li
              %a{:href => "privacy-policy.html"} Privacy Policy
            %li
              %a{:href => "privacy-policy.html"} Terms of Service
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "contact.html"} Contact Us