!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}
  %link{:rel => "stylesheet", :href => "../assets/css/main.css"}
  %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  %script{:type => "text/javascript", :src => "../assets/js/jquery-ui-1.10.2.custom.min.js"}
  %script{:type => "text/javascript", :src => "../assets/js/main.js"}
  %title Document
%body
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .row
          .span2
            %a.brand{:href => "domain.html"}
              %img{:src => "../assets/images/logo.png", :alt => ""}
          .language-switcher.pull-right
            %a{:href => "#"}
              %img{:src => "../assets/images/flags/Belgium.png", :alt => ""}
            .language-switcher-list-w
              .language-switcher-arrow
              %ul.language-switcher-list
                %li
                  %a{:href => "#"} English - Euro
                %li
                  %a{:href => "#"} Dutch - Euro
                %li
                  %a{:href => "#"} English - US dollar
          %form.navbar-search.pull-right{:action => "search-results.html"}
            %input{:type => "text", :class => "search-query", :placeholder => "Search"}
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li
                %a{:href => "contact.html"}
                  %i.icon-envelope-alt
                  Contact Us
              %li
                %a{:href => "documentation-categories.html"}
                  %i.icon-info-sign
                  Documentation
              %li
                %a{:href => "cart.html"}
                  %i.icon-shopping-cart
                  Cart
              %li
                %a{:href => "#"}
                  %i.icon-user
                  Login
  .services-tabs-w
    .container
      .service-tabs-i
        .service-tab-w
          %a.service-tab{:href => "domain.html"}
            .row-fluid
              .span3
                %i.icon-search.service-icon
              .span9
                Find your
                %br
                %span domain
        .service-tab-w
          %a.service-tab{:href => "build-website.html"}
            .row-fluid
              .span3
                %i.icon-globe.service-icon
              .span9
                Build your
                %br
                %span website
        .service-tab-w.tab-hosting.active
          %a.service-tab{:href => "hosting.html"}
            .row-fluid
              .span4
                %i.icon-cloud.service-icon
              .span8
                Website
                %br
                %span hosting
        .service-tab-w
          %a.service-tab{:href => "garden.html"}
            .row-fluid
              .span3
                %i.icon-cogs.service-icon
              .span9
                Hosting
                %br
                %span garden
  #page-hosting.page-content.with-tab-menu.content-less-padding
    .container
      %h1.page-heading.text-center Hosting Pricing Plans
      .hosting-plans-w
        .row-fluid
          .span4
            .hosting-plan-w
              .hosting-plan.plan-easy
                %h3.plan-name Easy
                %img{:src => "../assets/images/plan-shadow-top-tp.png"}
                .plan-details
                  .row-fluid
                    .span5
                      .plan-price-w
                        .plan-price $<span>3</span>.99
                        .plan-price-desc
                          %span per month
                    .span7
                      %ul.plan-overview-list
                        %li
                          %i.icon-ok
                          Free Domain Name
                        %li
                          %i.icon-ok
                          Free Access to
                          %a{:href => "#"} App Store
                  .plan-slider-w
                    %h4 Select web space
                    .plan-slider-i
                      .space-slider
                  .plan-slider-description
                    .plan-slider-desc-left
                      <span>|</span><br/>1 Gb
                    .plan-slider-desc-middle
                      <span>|</span><br/>5 Gb
                    .plan-slider-desc-right
                      <span>|</span><br/>25 Gb
                  .plan-overview
                    <strong>Everything unlimited:</strong> websites, databases, email addresses and data transfer.<br/><br/>
                %img{:src => "../assets/images/plan-shadow-bottom-tp.png"}
                .plan-button
                  %a.btn.btn-primary{:href => "#"}
                    Get Started
                    %i.icon-circle-arrow-right
          .span4
            .hosting-plan-w.plan-pro
              .hosting-plan
                %h3.plan-name Pro
                %img{:src => "../assets/images/plan-shadow-top-tp.png"}
                .plan-details
                  .row-fluid
                    .span5
                      .plan-price-w
                        .plan-price $<span>9</span>.99
                        .plan-price-desc
                          %span per month
                    .span7
                      %ul.plan-overview-list
                        %li
                          %i.icon-ok
                          Free Domain Name
                        %li
                          %i.icon-ok
                          Free Access to
                          %a{:href => "#"} App Store
                        %li
                          %i.icon-ok
                          Reseller Enabled
                        %li
                          %i.icon-ok
                          SSD Powered
                        %li
                          %i.icon-ok
                          High performance
                  .plan-slider-w
                    %h4 Select web space
                    .plan-slider-i
                      .space-slider
                  .plan-slider-description
                    .plan-slider-desc-left
                      <span>|</span><br/>5 Gb
                    .plan-slider-desc-middle
                      <span>|</span><br/>10 Gb
                    .plan-slider-desc-right
                      <span>|</span><br/>20 Gb
                  .plan-overview
                    <strong>Everything unlimited:</strong> websites, databases, email addresses and data transfer. Additional modules needed for developers can be installed on request
                %img{:src => "../assets/images/plan-shadow-bottom-tp.png"}
                .plan-button
                  %a.btn.btn-primary{:href => "#"}
                    Get Started
                    %i.icon-circle-arrow-right
          .span4
            .hosting-plan-w.plan-business
              .hosting-plan
                %h3.plan-name Business
                %img{:src => "../assets/images/plan-shadow-top-tp.png"}
                .plan-details
                  .row-fluid
                    .span5
                      .plan-price-w
                        .plan-price.smaller $<span>129</span>.99
                        .plan-price-desc
                          %span per month
                    .span7
                      %ul.plan-overview-list
                        %li
                          %i.icon-ok
                          Free Domain Name
                        %li
                          %i.icon-ok
                          Free Access to
                          %a{:href => "#"} App Store
                        %li
                          %i.icon-ok
                          Reseller Enabled
                        %li
                          %i.icon-ok
                          SSD Powered
                        %li
                          %i.icon-ok
                          Best performance
                  .plan-slider-w
                    %h4 Select web space
                    .plan-slider-i
                      .space-slider
                  .plan-slider-description
                    .plan-slider-desc-left
                      <span>|</span><br/>60 Gb
                    .plan-slider-desc-right
                      <span>|</span><br/>120 Gb
                  .plan-overview
                    <strong>Everything unlimited:</strong> websites, databases, email addresses and data transfer. Additional modules needed for developers can be installed on request
                %img{:src => "../assets/images/plan-shadow-bottom-tp.png"}
                .plan-button
                  %a.btn.btn-primary{:href => "#"}
                    Get Started
                    %i.icon-circle-arrow-right
      .white-paper
        .big-feature-w
          .row-fluid
            .span4
              .bordered-image-w.side-feature-image
                %img{:src => "http://dummyimage.com/600x430/3681b6/fff", :alt => ""}
            .span8
              %h2.big-feature-header
                %i.icon-globe
                Proin porta consequat felis sed.
              %ul.big-features
                %li Your hosting evolves with your website; it can be freely adjusted to suit your needs
                %li Websites and applications run more than 10 times faster than traditional hosting. Boost your website and your position in Google
                %li A complete hosting package. From basic features as PHP and e-mail addresses with spam filter, to modules for specialists such as GIT
      .white-paper
        .big-feature-w
          .row-fluid
            .span4
              .bordered-image-w.side-feature-image
                %img{:src => "http://dummyimage.com/600x520/3681b6/fff", :alt => ""}
            .span8
              %h2.big-feature-header
                %i.icon-hdd
                Proin porta consequat felis sed.
              %ul.big-features
                %li User friendly management
                %li 150+ applications installed in a click
                %li Free migration to Zitana
                %li Lost some data? Recover it with free back-ups of your websites, databases and emails
                %li Personal assistance and management by Zitana
      .faq-w
        %h2
          %i.icon-question-sign
          Hosting FAQ
        %ul
          %li
            %h3 How do I setup a hosting account?
            %p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

          %li
            %h3 What is a best price for my service?
            %p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.

          %li
            %h3 When is my account going to be activated?
            %p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.

          %li
            %h3 Why do I have to pay upfront?
            %p Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.

          %li
            %h3 Where do I find my account number?
            %p Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
        %a.btn.btn-primary{:href => "faq.html"}
          Read More
          %i.icon-circle-arrow-right
  .pre-footer
    .container
      .row
        .span9
          .menu-list
            %h4.menu-header Web Hosting
            %ul
              %li
                %a{:href => "#"} Order Hosting
              %li
                %a{:href => "#"} Compare Plan
              %li
                %a{:href => "#"} Register Domain
          .menu-list
            %h4.menu-header Company
            %ul
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "contact.html"} Contact Us
              %li
                %a{:href => "#"} In the News
          .menu-list
            %h4.menu-header Support
            %ul
              %li
                %a{:href => "documentation-categories.html"} Documentation
              %li
                %a{:href => "#"} System Status
              %li
                %a{:href => "#"} Knowledge Base
              %li
                %a{:href => "#"} Account Login
        .span3
          .social-w
            %h4.menu-header Social Networks
            %ul.social-list
              %li
                %a{:href => "#"}
                  %i.icon-linkedin-sign
              %li
                %a{:href => "#"}
                  %i.icon-twitter-sign
              %li
                %a{:href => "#"}
                  %i.icon-facebook-sign
  %footer.deep-footer
    .container
      .row
        .span4
          .copyright &copy; 2013 Zitana.com All rights reserved.
        .span8
          %ul.deep-footer-menu.pull-right
            %li
              %a{:href => "privacy-policy.html"} Privacy Policy
            %li
              %a{:href => "privacy-policy.html"} Terms of Service
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "contact.html"} Contact Us