
            %ul
              %li Your hosting evolves with your website; it can be freely adjusted to suit your needs
              %li Websites and applications run more than 10 times faster than traditional hosting. Boost your website and your position in Google
              %li A complete hosting package. From basic features as PHP and e-mail addresses with spam filter, to modules for specialists such as GIT
              %li User friendly management
              %li 150+ applications installed in a click
              %li Lost some data? Recover it with free back‐ups of your websites, databases and emails
              %li Personal assistance and management by Zitana
            %ul
              %li Easy and straight forward. No need webdesign or programming skills needed.
              %li Different designs tailored to your project, business or organization
              %li Give the design a personal touch
              %li One plan, unlimited amount of pages and images
              %li Easily upgrade to a complex web site
              %li Personal assistance and managemeny by Zitana
            %ul
              %li Secure your website and built trust with an SSL Certificate
              %li Business Groupware
              %li Keep your website clean and protected with a malware scanner
              %li How is your website doing? Receive weekly SEO reports with recommendations
              %li CloudFlare web acceleration with anti‐ddos